@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.input-style {
	background-color: white;
	border-radius: 1rem;
}

.pad {
	@apply py-2 px-3;
}

.modal-style {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
}

.station-detail {
	background-color: white;
	border-radius: 10px 10px 0 0;
	bottom: 0;
	height: 70vh;
	width: 95%;
}